.rg{
    border:2px black solid;
padding: 50px;
padding: bottom 400px;;
border-radius: 5px;
width: 600px;
margin: 9px;
}

.ti{
    display:flex;
    justify-content: space-around;
}
.cl{
    display:flex;
    justify-content:space-around;
    margin-left: -20%;
    margin-right: -17%;
}

.oo{
    display: flex;
    justify-content: space-around;
    margin-left: -12%;
    margin-right: -15%;
}

.box {
    display:flex;
    justify-content:space-around;
}

.bn{
    display:flex;
    justify-content:space-around;
    color: blue;
}