u{ 
    text-decoration-color: brown; 
     
} 
a:hover{ 
    color:black; 
    background-color: rgb(209, 135, 23);         
    border-radius: 5%; 
} 
.fw{ 
    letter-spacing: 1px; 
} 
.imges{ 
    border: 0.52em solid; 
    color:aqua ; 
}